.DS_Store
*.swp
*~

DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

LanguageOptimizer.xcodeproj/xcuserdata/
LanguageOptimizer.xcodeproj/project.xcworkspace/xcuserdata/
*.xcbkptlist
xcuserdata/

*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

build/
*.dSYM/
*.dSYM.zip
*.dSYM.tar

*.ipa
*.app
*.pkg
*.xcarchive

*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

*.hmap
*.ipa
*.xcuserdatad
*.xctemplate
*.xcodeproj/*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

Carthage/Build/
.build/
.swiftpm/
Package.resolved

*.log
